{% extends 'base.html' %}

{% block content %}

<h1>Events</h1>

<a href="/"></a>
{% for event in events %}  
<div>
  <p>
    {{ event.date }}: <b>{{ event.name }}</b><form action='/{{ event.name }}' method="post"><input type="submit" value="Delete Event"></form>
    {% if event.recurring == "on" %}
      <span>&#9989;</span>
    {% endif %}
  </p>
</div>
{% endfor %}

<H2>Add an Event</H2>

<form action="/" method="post">
  <label for="name"> Name </label>
  <input type="text" name="name" id="name">
  <label for="date"> Date </label>
  <input type="date" name="date" id="date">
  <label for="number_of_guests">Number of Guests</label>
  <input type="text" name="number_of_guests" id="number_of_guests">
  <label for="room_location">Room Location</label>
  <input type="text" name="room_location" id="room_location">
  <label for="description"> Description </label>
  <textarea name="description" id="description" cols="30" rows="3"></textarea>
  <label for="recurring">Is the event recurring?</label>
  <input type="checkbox" name="recurring" id="recurring">
  <input type="submit" value="Add Event">
</form>





{% endblock %}